                                                    /* start-variable */
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-background:#f6f6f6;
}
                                                    /* end-variable */

                                                    /* global rules  */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;;
}
 
.parent{
    background-color: #EEE;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px){
    .container{
        width:750px ;
    }
}
@media (min-width:992px){
    .container{
        width:970px ;
    }
}
@media (min-width:1200px){
    .container{
        width:1170px ;
    }
}
                                                        /* global-rule-end */

                                                        /* start component */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    letter-spacing: -3;
    margin: 0;
}     
.special-heading +p{
    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color: #797979;
}                   
@media(max-width:767){
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -15px
    }
}                               
                                                        /* end component */

                                                        /* start-header */
.header{
    padding: 15px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.header .logo{
    width: 60px; 
    transition: 0.3s;
    right: 0;
}
.links .icon{
    font-size: 30px;
}
.header.links{
    position: relative;
}
.header .links ul {
list-style: none;
margin: 0;
padding: 0;
background-color: #f6f6f6;
position: absolute;
right: 110px;
top: 55px;
min-width:200px;
display: none;
z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.links:hover .icon{
padding-right: 10px;
}
.header .links ul::before{
    content:"" ;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
border-bottom: 1px solid #ddd;
}
                                                        /* end-header */

                                                      /* start-landing-section */
.landing{
    position: relative;
    background-image: url(pic/7.jpg);
    background-size: cover;
    height: calc(100vh - 65px);
}
.landing .intro{
position: absolute;
left: 48%;
top: 75%;
transform: translate( -50% , -50%) ;
width: 320px;
max-width: 100%;
}

.landing .intro h1{
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    color: var(--main-color);
    text-align:center;
   
}


.landing .intro P{
    font-size: 20px;
    line-height: 1.8;
    font-weight: bold;
    color: black;
    text-align:center;
}


/* end-landing-section */
/* start-features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
}
.features .feet{
    padding: 20px;
    text-align: center;
}
.features .feet i {
    color: var(--main-color);
    font-size: 30px;
}
.features .feet h3{
    font-weight: 900;
    margin: 30px 0px;

}
.features .feet p{
line-height: 15px;
color: #777;
font-size: 18px;
}
                                                    /* end-features */
                                                    /* start-services */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-contant{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-contant .srv {
display: flex;
margin-bottom: 40px;
}
@media(max-width:767px){
    .services .services-contant .srv{
        flex-direction: column;
        text-align:center;
    }  
}
.services .services-contant .srv i{
    font-size: 30px;
    color: var(--main-color);
    flex-basis: 60px;   
}
.services .services-contant .srv .text{
    flex: 1;
}
.services .services-contant .srv .text h3{
margin: 0 0 20; 
}
.services .services-contant .srv .text p{
color: #333;
font-weight: 300;
line-height: 1.6;
}
.services .services-contant .image{
    text-align: center;
    position: relative;
}
.services .services-contant  .image::before{
content: "";
position: absolute;
right: 0;
background-color: var(--secondary-color);
width: 100px;
height: calc(100% + 100px);
top: -50px;
z-index: -1;
}
.services .services-contant .image img{
width: 260px;
}
@media(max-width:1199px){
    .image-column{
        display: none;
    }
}
                                                    /* end-services */
                                                    /* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-contant{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-contant .card{
    background-color: #777;

}
.portfolio .portfolio-contant .card i{
    max-width: 100%;
    height: 40px;
   
}
.image-resize{
    height: 360px;
    width: 360px;
}
.portfolio .portfolio-contant .card .info{
padding: 20px;
}
.portfolio .portfolio-contant .card .info h3{
    margin: 0;
    text-align: center;
}
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about-contant{
    margin-top:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width:991){
    .about .about-contant{
        flex-direction: column;
        text-align: center;

    }
}
.about .about-contant .image{
    position: relative;
    width: 250px;
    height: 375;
}
@media (max-width: 991px){
    .about .about-contant .image{
        margin: 0 auto 60px;
    }
}
.about .about-contant .image::before {
    content: "";
    position: absolute;
    background-color:#ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;

}
.about .about-contant .image::after{
    content: "";
    position: absolute;
    top:-40px ;
    width: 120px;
    height: 250px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px ;
}
@media(max-width:991){
    .about .about-contant .image::before,
    .about .about-contant .image::after{
        display: none;
    }
}
.about .about-contant .image img{
  max-width: 100%;  
}
 .about .about-contant .text{
    flex-basis: calc(100% - 500px);
}
.about .about-contant .text p:first-of-type{
 font-weight: bold;
 line-height: 2;
 margin-bottom: 5px;
}
.about .about-contant .text hr{
width: 50%;
display: inline-block;
border-color: var(--main-color);
}
.about .about-contant .text p:last-of-type{
line-height: 2;
color: #777;
}

                                                    /* end portfolio */
                                                    /* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;  
}
.contact .info .label{
    font-size: 35px;
    font-weight: 900;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info a{
    display: block;
    font-size: 25px;
    font-weight: 900;
    color: var(--main-color);
    text-decoration: none;
}
.contact .social{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    font-size: 16px;
}
.social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media(max-width:767px){
    .contact .label,
    .contact .link{
        font-size:25px ;
    }
}
                                                    /* end contact */
                                                    /* start footer */
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
                                                    /* end footer */